body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-controls {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.search-controls input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}
.search-controls button {
  padding: 8px 16px;
}

.search-controls button:hover {
  cursor: pointer;
}
